/* Center a div */
margin: auto;

/* 
    Display the list items inside .main-nav side by side. Use the display value that generates a 
    block element that flows with surrounding content.
    <ul class="main-nav">
				<li><a href="#">Ice cream</a></li>
				<li><a href="#">Donuts</a></li>
				<li><a href="#">Tea</a></li>
				<li><a href="#">Coffee</a></li>
    </ul>
*/

.main-nav li {
  display: inline-block;
}

/* 
    Change the display of .main-nav to the display value that generates a block element that doesn't take up a full line.
*/

.main-nav {
  display: inline-block;
}

/* 
The <ul> with the class main-nav is a block-level element by default, so it takes up the full width of its container. 
Let's set .main-nav to be as wide as the content inside it. Change the display of .main-nav to the display value that 
generates a block element that doesn't take up a full line.
*/

.logo {
  width: 110px;
  margin: auto;
  display: block;
}

/* 
  Float .footer-nav to the left edge of the footer and .logo to the right edge.
*/

.footer-nav {
 float: left; 
}

.logo {
 float: right; 
}

/* 
    The floats inside the <footer> caused its height to collapse. Give the <footer> element the class that will clear all floats inside it.

    html:
     <footer class="clearfix">

A clearfix is a way for an element to automatically clear its child elements

*/


.clearfix::after {
  content: ""; /* Older browser do not support empty content */
  display: table;
  clear: both;  /* No floating elements allowed on the left or the right side of the element */
}

/* 
The copyright text in the footer needs to be moved down below the floated elements. 
Select .copyright and apply the property and value that clears both the left and right floats.
*/

/* 
    Add the property and value that takes .content-lodging out of the normal page flow and places it along the right side of its container.
*/

.content-lodging {
    float: left;
}

/* 
    CSS background image, no repeating, center,  fills the entire background of the container while maintaining the width and height proportions.
    box-sizing property and value that forces any padding and border widths into its total width and height

    Box-sizing = div elements should have padding and border included in the element's total width and height:
*/

background-image: url("img/paper.gif");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-sizing: border-box;


/* Attribute selectors 
    Create an attribute selector that targets img elements with a title attribute value of "avatar". 
    Give the elements a border radius of 50%.
*/

img[title="avatar"]{
  border-radius: 50%;
}

/* 
    Create a new attribute selector that targets input elements with a type attribute value of password. Then, set the color to #ccc.
*/

input[type="password"]{
  color: #ccc;
}

/* 
  Add CSS that will allow all images to fill their parent element.
*/
img {
    width: 100%;
}
/* 
  Remove padding, margin, and bullets
*/
#gallery {
    margin:0;
    padding:0;
    list-style:none;
}

#gallery li {
 float: left;
  width: 45%;
}
/* style the top border */
.wildlife {
  border-top: solid orange 10px;
}


